.rodapie__titulo{
    display: flex;
    color: #8c8888;
    font-weight: 400;
    font-size: 1.25rem;
    align-items: center;
    padding: 1.5625rem;
    
}
@media screen and (max-width:475px) {
    .rodapie__titulo{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        justify-content: center;
        padding: 0;
    }
}
